  /* PRIMARY  STRUCTURAL STLYES */
  /*         */
  /* These are the styles for named ID tags for the TRIBES OF ME website.  */
  /* They are listed by page and then alphabetically                       */
  /*///////////////////////////////////////////////////////////////////////*/
  
  :root{
      /* DEFINE COLORS FOR WEBSITE */
      --background-primary: #c363d0;
      --background-secondary: #76b8dc;
      --background-tertiary: #c6845f;
      --mid-primary: #bb2ad1;
      --mid-secondary: #3b688c;
      --mid-tertiary: #893553;
      --bright-primary: #7e2bd0;
      --bright-secondary: #252c3f;
      --bright-tertiary: #4818a2;
      --black: #201610;
      --white: #e8dff4;
      --true-black: black;
      --true-white: white;
      --sans-serif: "fira-sans", sans-serif;
      --font-light: "100";
      padding: 0px;
      margin: 0px;
  }

  body {
    background-color: var(--bright-secondary);
    margin: 0px;
  }
  button{
    margin-top: 1rem;
    margin-right: .5rem;
    background-color: var(--background-primary);
    font-family: gastromond, serif;
    color: var(--white);
    height: 2rem;
    width: 9rem;
  }
  button:hover{
    margin-top: 1rem;
    background-color: var(--background-secondary);
    font-family: gastromond, serif;
    color: var(--mid-secondary);
    height: 2rem;
    width: 9rem;
  }
  #flex-wrapper{
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: flex-start;
  }
  header{
    display: flex;
    background-color: var(--white);
    min-height: 5rem;
    max-height: 15rem;
    padding: 0rem .25rem 0rem 2rem;
  }
  main{
    min-height: calc(100vh - 15rem);
    background-color: var(--white);
    padding:  0rem 1.5rem 6rem;
  }
  footer{
    max-height: 5rem;
    background-color: var(--background-secondary);
    padding: 2rem;
  }
  .error{
    color: var(--impact-color);
  }
  .remove-all-margin-padding{
    margin:0 !important;
    padding:0 !important;
  }
  #log-out-button{
    margin-right: 2px;
    margin-left: auto;
    background-color: var(--background-primary);
    font-family: gastromond, serif;
    color: var(--white);
    height: 2.75rem;
    width: 9rem;
  }

  /* ID TAGS */
  /*         */
  /* These are the styles for named ID tags for the Tribes of Men website.  */
  /* They are listed by page and then alphabetically                       */
  /*//////////////////////////////////////////////////////////////////////*/

  #left {
    background-image: url("/images/style_art/flannelBlack.svg");
    background-repeat: repeat;
    display: inline-block;
    width: 50%;
    height: 100%;
  }
  #right {
    background-image: url("/images/style_art/redPolkaDots.svg");
    display: inline-block;
    width: 50%;
    height:100%;
  }

  #primary {
    position: absolute;
    top: 35px;
    width: 45%;
    height: 45%;
    margin-left: 25%;
    background-color: rgba(245, 241, 39, 0.95);
    text-align: center;
    border-style: dashed;
    border-width: 9px;
    border-color: purple;
    padding: 5rem;
  }
  /* form {
    display: grid;
    grid-template-columns: repeat(2, .5fr, 1.5fr);
  } */
  h1{
    font-family: gastromond, serif;
    font-weight: 400;
    font-style: normal;
    font-size: 3.5em;
    color: var(--bright-primary);
  }
  h2{
    font-family: gastromond, sans-serif;
    font-style: normal;
    font-size: 2em;
    color: var(--black);
  }
  h6{
    margin: auto;
    text-align: center;
    font-size: 1rem;
    color: var(--white);
  }
  .hide{
    display: none;
  }
  label {
    display: inline-block;
    background-color: none;
    margin-bottom: 1rem;
    margin-right: 1.5rem;
    width: 5rem;
    text-align: right;
    font-family: var(--sans-serif);
    font-weight: var(--font-light);
    font-size: .75rem;
  }
  /* label::after {
    display: inline-block;
    content: ":";
    margin-right: .25rem;
    margin-left: .25rem;
  } */
  li.color-swatch{
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style-type: none;
    border-radius: 50%;
    border-style: solid;
    border-color: var(--mid-secondary);
    border-width: 3px;
    filter: drop-shadow(3px 3px 4px var(--mid-secondary));
    width: 50px;
    height: 50px;
    margin: 5px;
    text-align: center;
    color: var(--white);
    font-size: 2rem;
    font-weight: 400;
    justify-content: center;
    cursor: pointer;
  }
  li.color-swatch-small{
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style-type: none;
    border-style: solid;
    width: 20px;
    height: 20px;
    margin: 5px;
    text-align: center;
    color: var(--white);
    font-size: 2rem;
    font-weight: 400;
    justify-content: center;
    cursor: pointer;
  }
  .swatch-selected{
    border-color: var(--mid-secondary);
    border-width: 3px;
  }

  .w-md-editor-content{
    background-color: var(--background-secondary);
  }
  li{
    display: block;
  }
  li.hovered{
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style-type: none;
    border-radius: 50%;
    border-style: solid;
    border-color: var(--mid-tertiary);
    border-width: 3px;
    filter: drop-shadow(2px 2px 2px var(--mid-secondary));
    width: 50px;
    height: 50px;
    margin: 5px;
    cursor: pointer;
  }

  ul.colors{
    display: flex;
    justify-content: center;
  }

  ul.no-bullets{
    list-style: none;
  }

  .capitalize{
    text-transform: capitalize;
  }

  span.color-swatch-small{
    display: inline-block;
    border-style: solid;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin: 5px;
  }