  /* PRIMARY  STRUCTURAL STLYES */
  /*         */
  /* These are the styles for named ID tags for the TRIBES OF ME website.  */
  /* They are listed by page and then alphabetically                       */
  /*///////////////////////////////////////////////////////////////////////*/
  
  :root{
      /* DEFINE COLORS FOR WEBSITE */
      --background-primary: #c363d0;
      --background-secondary: #76b8dc;
      --background-tertiary: #c6845f;
      --mid-primary: #bb2ad1;
      --mid-secondary: #3b688c;
      --mid-tertiary: #893553;
      --bright-primary: #7e2bd0;
      --bright-secondary: #252c3f;
      --bright-tertiary: #4818a2;
      --black: #201610;
      --white: #e8dff4;
      --true-black: black;
      --true-white: white;
      padding: 0px;
      margin: 0px;
  }

  body {
    background-color: var(--bright-secondary);
    margin: 0px;
  }
  #flex-wrapper{
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: flex-start;
  }
  header{
    background-color: var(--white);
    min-height: 5rem;
    max-height: 15rem;
    padding: 0rem .25rem 0rem 2rem;
  }
  main{
    min-height: calc(100vh - 15rem);
    background-color: var(--white);
    padding:  0rem 1.5rem;
  }
  footer{
    max-height: 5rem;
    background-color: var(--background-secondary);
    padding: 2rem;
  }
  .error{
    color: var(--impact-color);
  }
  .remove-all-margin-padding{
    margin:0 !important;
    padding:0 !important;
  }

  /* ID TAGS */
  /*         */
  /* These are the styles for named ID tags for the Tribes of Men website.  */
  /* They are listed by page and then alphabetically                       */
  /*//////////////////////////////////////////////////////////////////////*/

  #left {
    background-image: url("/images/style_art/flannelBlack.svg");
    background-repeat: repeat;
    display: inline-block;
    width: 50%;
    height: 100%;
  }
  #right {
    background-image: url("/images/style_art/redPolkaDots.svg");
    display: inline-block;
    width: 50%;
    height:100%;
  }

  #primary {
    position: absolute;
    top: 35px;
    width: 45%;
    height: 45%;
    margin-left: 25%;
    background-color: rgba(245, 241, 39, 0.95);
    text-align: center;
    border-style: dashed;
    border-width: 9px;
    border-color: purple;
    padding: 5rem;
  }
  h1{
    font-family: Poppins, serif;
    font-weight: 400;
    font-style: normal;
    font-size: 3.5em;
    color: var(--bright-primary);
  }
  h2{
    font-family: gastromond, sans-serif;
    font-style: normal;
    font-size: 2em;
    color: var(--black);
  }
  h6{
    margin: auto;
    text-align: center;
    font-size: 1rem;
    color: var(--white);
  }