  /* PRIMARY  STRUCTURAL STLYES */
  /*         */
  /* These are the styles for named ID tags for the TRIBES OF ME website.  */
  /* They are listed by page and then alphabetically                       */
  /*///////////////////////////////////////////////////////////////////////*/
  
  :root{
      /* DEFINE COLORS FOR WEBSITE */
      --background-color: #e8dff4;
      --impact-color :#4818a2;
      --light-blue: #76b8dc;
      --dark-green: #3b688c;
      --brown: #c6845f;
      --white: #f2f6f3; 
      padding: 0px;
      margin: 0px;
  }

  body {
    background-color: var(--white);
    margin: 0px;
  }

  main{
    height: 9rem;
    background-color: var(--white);
  }

  .error{
    color: var(--impact-color);
  }
  .remove-all-margin-padding{
    margin:0 !important;
    padding:0 !important;
  }

  /* ID TAGS */
  /*         */
  /* These are the styles for named ID tags for the MSM Portfolio site.  */
  /* They are listed by page and then alphabetically                     */
  /*/////////////////////////////////////////////////////////////////////*/

  #left {
    background-image: url("/images/style_art/flannelBlack.svg");
    background-repeat: repeat;
    display: inline-block;
    width: 50%;
    height: 100%;
  }
  #right {
    background-image: url("/images/style_art/redPolkaDots.svg");
    display: inline-block;
    width: 50%;
    height:100%;
  }

  #primary {
    position: absolute;
    top: 35px;
    width: 45%;
    height: 45%;
    margin-left: 25%;
    background-color: rgba(245, 241, 39, 0.95);
    text-align: center;
    border-style: dashed;
    border-width: 9px;
    border-color: purple;
    padding: 5rem;
  }
  h1{
    font-family: gastromond, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 3.5em;
    color: var(--impact-color);
  }
  h2{
    font-family: gastromond, sans-serif;
    font-style: normal;
    font-size: 2em;
  }
  h6{
    margin: auto;
    text-align: center;
    font-size: 1rem;
    color: var(--white);
  }

  footer{
    background-color: var(--light-blue);
    padding: 2rem;
  }